@mixin font($size, $height, $weight: 700, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-style: $style;
  font-weight: $weight;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}
