@mixin font($size, $height, $weight: 700, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-style: $style;
  font-weight: $weight;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin media-laptop {
  @media (max-width: 1197px) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-mobile-big {
  @media (max-width: 414px) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: 320px) {
    @content;
  }
}
