@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.footer-navigation__link, .contact-us__info a, .navigation__link, .menu__link, .modal__close-icon, .hamburger__line, .hamburger:after, .hamburger:before, .logo-svg:hover .logo-path, .btn {
  transition: all 0.3s ease-out;
}

.btn, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.footer-navigation__link, .promo__text, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

.modal::-webkit-scrollbar {
  width: 10px;
}
.modal::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #ff7549;
  border-radius: 10px;
}

html body,
html h1,
html h2,
html h3,
html h4,
html p,
html a {
  margin: 0;
}
html * {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

.no-scroll {
  overflow: hidden;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 414px) {
  h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-style: normal;
    font-weight: 700;
  }
}

h2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-style: normal;
    font-weight: 700;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 414px) {
  h3 {
    font-size: 2.1rem;
    line-height: 3.1rem;
    font-style: normal;
    font-weight: 700;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: 600;
}
@media (max-width: 414px) {
  h4 {
    font-size: 2rem;
    line-height: 2.7rem;
    font-style: normal;
    font-weight: 700;
  }
}

h5 {
  margin: 0;
  color: #544837;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-style: normal;
  font-weight: 700;
}

.btn {
  padding: 11px 25px 13px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-style: normal;
  font-weight: 600;
}
.btn_bordered {
  border: 1px solid #bcd0e5;
  background: #ffffff;
  color: #544837;
}
.btn_bordered:hover {
  background: #bcd0e5;
}
.btn_colored {
  border: 1px solid #ff9900;
  background: #ff9900;
  color: #ffffff;
}
.btn_colored:hover {
  background: #ff7549;
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #ff9900;
}

.logo {
  display: flex;
}

.logo-object {
  width: 160px;
}

.logo-svg {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_play {
  height: 19px;
  width: 18px;
  background-image: url("../img/icons/play.svg");
}

.icon-square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 19px;
}
.icon-square_violet {
  background-color: #7752be;
}
.icon-square_yellow {
  background-color: #fab005;
}
.icon-square_red {
  background-color: #f03e3d;
}
.icon-square_blue {
  background-color: #4dadf7;
}

.icon-square__img_arrow {
  width: 12px;
  height: 17px;
  background-image: url("../img/icons/arrow.svg");
}
.icon-square__img_line {
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/line.svg");
}
.icon-square__img_heart {
  width: 17px;
  height: 15px;
  background-image: url("../img/icons/heart.svg");
}
.icon-square__img_clock {
  width: 15px;
  height: 17px;
  background-image: url("../img/icons/clock.svg");
}

.ico_phone {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/phone.svg");
}

.ico_letter {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/letter.svg");
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}
.layout-3-column:after {
  content: "";
  width: 30%;
  display: block;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.tag {
  padding: 5px 14px;
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-style: normal;
  font-weight: 400;
  color: #544837;
  border-radius: 90px;
}
.tag_bordered {
  border: 1px solid #d7d7d7;
}
.tag_selected {
  color: #ffffff;
  background-color: #ff9900;
  border-color: #ff9900;
}
.tag_colored {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 5px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #ff9900;
  outline: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #c6c6c6;
}
.contact-form textarea {
  width: 100%;
  height: 160px;
  resize: none;
}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .contact-form__layout {
    flex-direction: column;
  }
}

.contact-form__line {
  margin-bottom: 19px;
}
@media (max-width: 414px) {
  .contact-form__line {
    width: 100%;
  }
}

.contact-form__button {
  min-width: 117px;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  content: "";
  background: #173a56;
  border-radius: 5px;
}

.hamburger {
  position: relative;
  display: none;
  width: 31px;
  height: 25px;
  margin-right: 37px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  top: calc(100% - 1.5px);
  left: 0;
}
.hamburger_active:before {
  transform: translateY(10.5px) rotate(45deg);
}
.hamburger_active:after {
  transform: translateY(-12.5px) rotate(-45deg);
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}
.hamburger__line_active {
  transform: translateX(-100%);
  background: #ffffff;
}

.overlay {
  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay_closed {
  display: none;
}

.modal {
  position: relative;
  max-width: 675px;
  min-height: 120px;
  max-height: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: auto;
}
@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
}
@media (max-width: 414px) {
  .modal {
    width: 100%;
    min-height: 100%;
    border-radius: 0;
  }
}

.modal__close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
.modal__close-icon:hover {
  transform: rotate(90deg);
}

.menu {
  position: absolute;
  top: 105px;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu__content {
  width: 100%;
  padding: 20px 0 53px;
  background-color: #ffffff;
}

.menu__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  margin: 0;
  text-align: center;
}
.menu__list > * {
  list-style: none;
  margin-bottom: 34px;
}
.menu__list :last-child {
  margin-bottom: 0;
}

.menu__link {
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #2f281e;
}
.menu__link:hover {
  color: #ff9900;
}

.menu__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}
@media (max-width: 1197px) {
  .wrapper {
    padding: 0 46px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 21px;
  }
}

.header {
  padding: 15px 0 17px 0;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding-left: 24px;
  }
}
@media (max-width: 414px) {
  .header__wrapper {
    padding: 0 21px;
  }
}

.header__buttons {
  display: flex;
  gap: 14px;
}
@media (max-width: 414px) {
  .header__buttons {
    display: none;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  font-size: 1.5rem;
  line-height: 2.8rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #2f281e;
}
.navigation__link:hover {
  color: #ff9900;
}

.contact-us {
  padding: 62px 0 82px;
  background-color: #ffeee1;
}
@media (max-width: 768px) {
  .contact-us {
    padding: 50px 0;
    text-align: center;
  }
}
@media (max-width: 414px) {
  .contact-us {
    padding-top: 34px;
  }
}

@media (max-width: 768px) {
  .contact-us__layout {
    align-items: center;
    flex-direction: column;
  }
}

.contact-us__text {
  margin: 17px 0 59px;
}
@media (max-width: 768px) {
  .contact-us__text {
    margin-bottom: 26px;
  }
}
@media (max-width: 414px) {
  .contact-us__text {
    margin: 8px 0 24px;
  }
}

.contact-us__info {
  display: flex;
  align-items: center;
  gap: 11px;
}
.contact-us__info a {
  font-size: 2.5rem;
  line-height: 2.6rem;
  font-style: normal;
  font-weight: 400;
  color: #544837;
  text-decoration: none;
}
.contact-us__info a:hover {
  color: #ff9900;
}
@media (max-width: 414px) {
  .contact-us__info a {
    font-size: 2rem;
    line-height: 2.6rem;
    font-style: normal;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .contact-us__info {
    justify-content: center;
  }
}

.contact-us__phone {
  margin-bottom: 20px;
}
@media (max-width: 414px) {
  .contact-us__phone {
    margin-bottom: 17px;
  }
}

@media (max-width: 768px) {
  .contact-us__mail {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .contact-us__mail {
    margin-bottom: 41px;
  }
}

.promo {
  padding: 30px 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .promo {
    padding: 0;
  }
}
@media (max-width: 414px) {
  .promo {
    padding: 12px 0 20px;
    text-align: center;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 414px) {
  .promo__wrapper {
    flex-direction: column-reverse;
  }
}

.promo__title {
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .promo__title {
    margin-bottom: 10px;
  }
}

.promo__text {
  margin-bottom: 45px;
  max-width: 487px;
  font-family: "Poppins";
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-style: normal;
  font-weight: 400;
  color: #544837;
}
@media (max-width: 768px) {
  .promo__text {
    width: 380px;
  }
}
@media (max-width: 414px) {
  .promo__text {
    margin-bottom: 23px;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-style: normal;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .promo__image {
    width: 591px;
    height: 456px;
  }
}
@media (max-width: 414px) {
  .promo__image {
    width: 100%;
    height: 100%;
  }
}

.promo__buttons {
  display: inline-flex;
  align-items: center;
  gap: 44px;
}
@media (max-width: 414px) {
  .promo__buttons {
    width: 100%;
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 414px) {
  .promo__button {
    padding: 15px 40px;
  }
}

.strategies {
  padding: 30px 0 36px;
}
@media (max-width: 768px) {
  .strategies {
    padding: 50px 0;
  }
}
@media (max-width: 414px) {
  .strategies {
    padding: 63px 0 40px;
  }
}

.strategies__title {
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .strategies__title {
    text-align: center;
  }
}

.strategies__text {
  margin-bottom: 24px;
  color: #544837;
}
@media (max-width: 768px) {
  .strategies__text {
    text-align: center;
  }
}

.strategies__tags {
  margin-bottom: 30px;
}
.strategies__tags > * {
  cursor: pointer;
}
@media (max-width: 768px) {
  .strategies__tags {
    margin-bottom: 50px;
    text-align: center;
  }
}
@media (max-width: 414px) {
  .strategies__tags {
    margin-bottom: 34px;
  }
}

.strategies__wrapper > * {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .strategies__wrapper > * {
    flex-basis: 48%;
    overflow: hidden;
  }
}
@media (max-width: 414px) {
  .strategies__wrapper > * {
    flex-basis: 100%;
  }
}

.strategy {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.strategy_hidden {
  display: none;
}

.strategy__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 35px;
}

.strategy__image {
  height: 46%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.strategy__title {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .strategy__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .strategy__title {
    margin-bottom: 31px;
  }
}

.strategy__tags > * {
  cursor: pointer;
}

.strategy-modal__content {
  padding: 25px 34px 41px 41px;
}

.strategy-modal__image {
  width: 100%;
  height: 357px;
  object-fit: cover;
}
@media (max-width: 414px) {
  .strategy-modal__image {
    height: 200px;
  }
}

.strategy-modal__date {
  margin-bottom: 5px;
  font-size: 1.3rem;
  line-height: 2.6rem;
  font-style: normal;
  font-weight: 400;
  color: #2f281e;
}

.strategy-modal__title {
  margin-bottom: 9px;
}

.strategy-modal__text {
  margin-bottom: 12px;
}

.tools {
  padding: 80px 0 90px;
  background-image: url("../img/backgrounds/tools-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (max-width: 768px) {
  .tools {
    background-size: contain;
    padding-bottom: 53px;
  }
}
@media (max-width: 414px) {
  .tools {
    padding: 30px 0 47px;
  }
}

.tools__title {
  max-width: 462px;
  margin: 0 auto;
  padding-bottom: 70px;
  text-align: center;
}
@media (max-width: 768px) {
  .tools__title {
    padding-bottom: 50px;
  }
}
@media (max-width: 414px) {
  .tools__title {
    max-width: 333px;
    padding-bottom: 43px;
  }
}

@media (max-width: 768px) {
  .tools__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tools__columns > * {
    flex-basis: 45%;
  }
}
@media (max-width: 414px) {
  .tools__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tools__columns > * {
    flex-basis: 100%;
  }
}

.tool {
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .tool {
    padding-bottom: 54px;
    text-align: center;
  }
}
@media (max-width: 414px) {
  .tool {
    padding-bottom: 30px;
  }
}

.tool__icon {
  padding-bottom: 47px;
}
@media (max-width: 768px) {
  .tool__icon {
    padding-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .tool__icon {
    padding-bottom: 8px;
  }
}

.tool__title {
  padding-bottom: 16px;
  color: #2f281e;
}
@media (max-width: 768px) {
  .tool__title {
    padding-bottom: 6px;
  }
}
@media (max-width: 414px) {
  .tool__title {
    padding-bottom: 0;
  }
}

.tool__text {
  color: #544837;
}

.tools__button {
  text-align: center;
}

.about {
  padding: 30px 0 101px;
}
@media (max-width: 768px) {
  .about {
    padding: 0 0 50px;
  }
}

.about__text {
  margin: 14px 0 45px;
}

.employees-container {
  padding-right: 30px;
}

.employee {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.employee__position,
.employee__email {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-style: normal;
  font-weight: 400;
}

.employee__image-container {
  position: relative;
  left: 60px;
  padding: 20px 0 23px;
}

.employee__image {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.employee__email {
  text-decoration: none;
}

.section-text {
  color: #544837;
}

.footer {
  padding-top: 58px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 47px;
  }
}
@media (max-width: 414px) {
  .footer {
    padding-top: 31px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 34px;
  }
}
@media (max-width: 414px) {
  .footer__wrapper {
    gap: 27px;
  }
}

.footer__layout {
  flex-basis: 70%;
}
@media (max-width: 768px) {
  .footer__layout {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .footer__layout {
    flex-direction: column;
    gap: 18px;
  }
}

@media (max-width: 414px) {
  .footer-navigation__title {
    font-size: 1.8rem;
    line-height: 3rem;
    font-style: normal;
    font-weight: 600;
  }
}

.footer-navigation__item {
  list-style: none;
}

.footer-navigation__link {
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #544837;
}
.footer-navigation__link:hover {
  color: #ff9900;
}

/*# sourceMappingURL=main.css.map */
