.btn {
  padding: 11px 25px 13px;
  border-radius: 4px;
  cursor: pointer;
  @extend %font-primary;
  @include font($size: 1.6rem, $height: 2.2rem, $weight: 600);
  @extend %transition;

  &_bordered {
    border: 1px solid $color-hovered;
    background: $color-light;
    color: $color-text;
    &:hover {
      background: $color-hovered;
    }
  }

  &_colored {
    border: 1px solid $color-primary;
    background: $color-primary;
    color: $color-light;
    &:hover {
      background: $color-secondary;
    }
  }
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: $color-primary;
  @extend %font-secondary;
}
