.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-overlay;
  display: flex;
  justify-content: center;
  align-items: center;

  &_closed {
    display: none;
  }
}

.modal {
  position: relative;
  max-width: 675px;
  min-height: 120px;
  max-height: 90%;
  padding: 30px;
  background-color: $color-light;
  border-radius: 10px;
  overflow: auto;

  @extend %custom-scroll;

  @include media-tablet {
    width: 90%;
  }
}

.modal__close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    transform: rotate(90deg);
  }
}
