.contact-us {
  padding: 62px 82px;
  background-color: $color-background;
}

.contact-us__text {
  margin: 17px 0 59px;
}

.contact-us__info {
  display: flex;
  align-items: center;
  gap: 11px;

  a {
    @include font($size: 2.5rem, $height: 2.6rem, $weight: 400);
    color: $color-text;
    text-decoration: none;
    @extend %transition;
    &:hover {
      color: $color-primary;
    }
  }
}

.contact-us__phone {
  margin-bottom: 20px;
}
