.header {
  padding: 15px 0 17px 0;
  background: $color-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-tablet {
    padding-left: 24px;
  }
}

.header__buttons {
  display: flex;
  gap: 14px;
  @include media-mobile-big {
    display: none;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__navigation {
  @include media-tablet {
    display: none;
  }
}
