.navigation {
  display: flex;
  gap: 20px;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  @include font($size: 1.5rem, $height: 2.8rem, $weight: 400);
  text-decoration: none;
  color: $color-heading;
  &:hover {
    color: $color-primary;
  }
  @extend %transition;
}
