.promo {
  padding: 30px 0;
  overflow: hidden;
  @include media-tablet {
    padding: 0;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__title {
  margin-bottom: 30px;
}

.promo__text {
  margin-bottom: 45px;
  max-width: 487px;
  font-family: 'Poppins';
  @extend %font-secondary;
  @include font($size: 1.8rem, $height: 2.8rem, $weight: 400);
  color: $color-text;
  @include media-tablet {
    width: 380px;
  }
}

.promo__image {
  @include media-tablet {
    width: 591px;
    height: 456px;
  }
}

.promo__buttons {
  display: inline-flex;
  align-items: center;
  gap: 44px;
}
